<% provide(:title, @user.name) %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'user_info' %>
      </section>
      <section>
        <%= render 'shared/invite' %>
      </section>
      <% if admin?(current_user) %>
        <section>
          <% if @user == current_user %>
             <section>
              <br />
              <%= render 'shared/invite_admin' %>
            </section>
          <% else %>
            <br />
            <%# link_to "Edit profile", edit_user_path(@user) %>
          <% end %>
        </section>
      <% end %>
      <% if @user == current_user %>
        <%= link_to "Edit profile", edit_user_path(@user) %>
      <% end %>
    </aside>

   <div class="span8">
      <h3>My Library</h3>
      <%= render 'shared/feed' %>   
    </div>
  </div>