<% provide(:title, @user.name) %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'user_info' %><br>
        <% if @user == current_user %>
          <%= link_to "Edit profile", edit_user_path(@user) %><br>
          <%= "Email preferences: #{@user.email_frequency}" %>
        <% end %>
        <%= render 'shared/invite' %>

      <% if admin?(current_user) %>
          <% if blocked_user?(@user) %>
            <%= button_to "Unblock", destroy_blocked_user_user_path(@user), method: :delete, class: "btn btn-small btn-warning" %>
          <% else %>
            <% unless current_user.id == @user.id %>
              <%= form_for @blocked_user, :url => create_blocked_user_user_path(@user) do |f| %>
                <%= f.hidden_field :user_id, :value => @user.id %>
                <%= f.hidden_field :date_blocked, :value => Time.now %>
              <%= f.submit "Block user", class: "btn btn-small btn-danger" %>
              <% end %>
            <% end %>
          <% end %>
        
          <% if @user == current_user %>

              <br />
              <%= render 'shared/invite_admin' %>          
          <% else %>
          <% end %>
      <% end %>

      </section>
    </aside>

   <div class="span8">
      <h3>My Library</h3>
      <%= render 'shared/feed' %>   
    </div>
  </div>