<li id="<%= feed_item.id %>">
    <span class="content"><%= image_tag feed_item.cover_url(:thumb) if feed_item.cover? %></span>
    <span class="content"><%= link_to feed_item.title, book_path(feed_item) %></span>
    <span class="content"><%= feed_item.author %></span>
    <span class="content"><%= feed_item.isbn %></span>
    <span class="content">Approved status: <%= feed_item.approved %></span>
    <span class="timestamp">
      Posted <%= time_ago_in_words(feed_item.created_at) %> ago by
      <span class="user"><%= link_to feed_item.user.name, feed_item.user %></span>.
    </span>
  <% if current_user?(feed_item.user) %>   |  
  <%= link_to 'Edit', edit_book_path(feed_item) %>  | 
  <%= link_to "Delete", feed_item, method: :delete,
                                     data: { confirm: "Do you really want to delete this book?" },
                                     title: feed_item.title %>
  <% end %>
</li>