<%# form_tag edit_multiple_user_follows_path(@user) do %>

<table>
  <thead>
    <tr>
      <th>Book Title</th>
      <th>Receive rating emails?</th>
      <th>Receive review emails?</th>
      <th></th>
      <th>Unfollow</th>
      <th></th>
    </tr>
  </thead>
  
  <% @user.follows.each do |follow| %>
  
    <tbody>
      <tr>
      <td><%= follow.title %></td>
      <%= form_for([@user, follow]) do |f| %>
          <td><%= f.check_box :ratings %></td>
          <td><%= f.check_box :reviews %></td>
          <td>
            <%= f.submit "Update", class: "btn btn-small btn-success" %><% end %>
          </td>
          <td> 
            <%= link_to [@user, follow], method: :delete do %>
                <i class="icon-remove"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
</table>
<br><br>
<%# submit_tag "Save preferences" %>
<%# end %>