<ul class="reviews">
  <% @book.reviews.each do |review| %>
  	<br />


    <% @review_user = User.find_by_id(review.user_id) %>

    <h5><%= review.title %> </h5>
    <p>By 
        <%= link_to "#{@review_user.name}", user_path(@review_user) %> 
    </p>
    <p>
        <%= rating_for_user @book, @review_user, "book_rating", :cancel => false %>
    </p>
    <p><%= review.text %> </p>
    <% unless review.fave_quote.empty? %>
    <p><b>Favorite quote: </b>
    	<%= review.fave_quote %> 
    </p>
    <% end %>


    <% if admin?(current_user) || current_user.id == @review_user.id %>
		<%= link_to 'Edit', edit_book_review_path(@book, review) %> | 
		<%= link_to 'Destroy', book_review_path(@book, review), method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
    <br />
    <hr>
  <% end %>
</ul>