<% provide(:title, 'All books') %>
<h1>Library</h1>

<%= will_paginate %>

<ul class="books">
  <% @books.each do |book| %>
    <% if signed_in? %>
	 		<li>
	    	<%= image_tag book.cover_url(:thumb) if book.cover? %> <br /><br />
	      <%= link_to book.title, book %>
	      <p> Rating: <%= average_rating(book) %> </p>      
	    </li>
	  <% else %>
	 		<li>
	    	<%= image_tag book.cover_url(:thumb) if book.cover? %> <br /><br />
	      <%= book.title %>
	      <p> Rating: <%= average_rating(book) %> </p>    
	      <%= link_to "Sign up to see more!", new_user_path %>
	    </li>
	  <% end %>
  <% end %>
</ul>

<%= will_paginate %>
