<% provide(:title, 'Books Pending Approval') %>
<h1>Library</h1>

<%= will_paginate %>

<ul class="books">
  <% @books.each do |book| %>
    <li>
    	<%= image_tag book.cover_url(:thumb) if book.cover? %>
      <%= link_to book.title, book %>
      <%= link_to book.author, book %>
    </li>
  <% end %>
</ul>

<%= will_paginate %>
