<% provide(:title, @book.title) %>

<div class="row">
	<div class="span4">
		<p><%= image_tag @book.cover_url(:thumb) if @book.cover? %>        
      <%= render 'shared/follow_form' %></p>
    <p>Title: <%= @book.title %> </p>
    <p>Author: <%= @book.author %> </p>
    <p>ISBN: <%= @book.isbn %> </p>
    <p> Tags: </p>
    <% if @book.tags.any? %>
      <% @book.tags.each do |tag| %>
      <%= link_to tag.name, tagged_url(:tag => tag.name) %>
      <% end %>
    <% end %>

    <p>Posted by <%= link_to "#{@user.name}", user_path(@user.id) %></p>

    <% if deactivated?(@book) %>

    		<%= link_to 'Back', root_path %><br />
    		<%= render 'reviews' %>
    		<%= link_to 'Back', root_path %><br />

    <% else %>

    	<% if admin?(current_user) %>
    		<% if @book.approved == false %>
    			<%= render 'approval' %>
    		<% else %>
    			<%= rating_for @book, "book_rating", :disable_after_rate => true %>
    			<%= render 'edit_links' %>
    			<%= link_to 'Back', root_path %><br />
    			<%= link_to "Add a review", new_book_review_path(@book) %>
					<br />
					<%= render 'reviews' %>
    		<% end %>
    	<% elsif current_user.id == @book.user_id %>
  		  <%= rating_for @book, "book_rating", :disable_after_rate => true %>
  			<% render 'edit_links' %>
  			<%= link_to 'Back', root_path %><br />
  			<%= link_to "Add a review", new_book_review_path(@book) %>
				<br />
				<%= render 'reviews' %>
			<% else %>
				<%= link_to 'Back', root_path %><br />
  			<%= link_to "Add a review", new_book_review_path(@book) %>
				<br />
				<%= render 'reviews' %>
    	<% end %>

    <% end %>

  </div>
</div>


