<% provide(:title, @book.title) %>

<div class="row">
	<div class="span4">
		<p><%= image_tag @book.cover_url(:thumb) if @book.cover? %>        
      <%= render 'shared/follow_form' %></p>
    <h4><%= "Average rating: #{@book.last_avg_rating}" %></h4>
    <p>Title: <%= @book.title %> </p>
    <p>Author: <%= @book.author %> </p>
    <p>ISBN: <%= @book.isbn %> </p>
    <p> Tags: 
    <% if @book.tags.any? %>
      <% @book.tags.each do |tag| %>
      <%= link_to tag.name, tagged_url(:tag => tag.name) %> | 
      <% end %>
    <% end %>
    </p>
    <% @creator = User.find_by_id(@book.user_id) %>
    <% %>
    <p>Posted by <%= link_to "#{@creator.name}", user_path(@creator.id) %></p><br><br>

    <% if deactivated?(@book) %>

    		<%= link_to 'Back', root_path %><br />
    		<%= render 'reviews' %>
    		<%= link_to 'Back', root_path %><br />

    <% else %>

    	<% if admin?(current_user) %>
    		
        <% if @book.approved == false %>
    			<%= render 'approval' %>
    		<% else %>
    			<%= render 'edit_links' %>
    			<%= link_to 'Back', root_path %><br />
    			<%= link_to "Add a review", new_book_review_path(@book) %>
					<br />
					<%= render 'reviews' %>
    		<% end %>

      <% elsif blocked_user?(current_user) %>
        <%= link_to 'Back', root_path %><br />
        <%= render 'reviews' %>

      <% elsif current_user.id == @book.user_id %>
  			<% render 'edit_links' %>
  			<%= link_to 'Back', root_path %><br />
  			<%= link_to "Add a review", new_book_review_path(@book) %>
				<br />
				<%= render 'reviews' %>
			<% else %>
        <% unless admin?(current_user) %>
    			<%= link_to "Add a review", new_book_review_path(@book) %> | 
          <%= link_to 'Back', root_path %><br />
  				<br />
  				<%= render 'reviews' %>
        <% end %>
    	<% end %>

    <% end %>

  </div>
</div>


