<h1>Listing follows</h1>

<% form_tag edit_multiple_follows_path(@user) do %>

<table>
  <thead>
    <tr>
      <th>Book Title</th>
      <th>Rating Updates?</th>
      <th>Review Updates?</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  
  <% for follow in @follows %>
  
    <tbody>
        <tr>
          <td><%= follow.title %></td>
          <td><%= check_box_tag "ratings[]", follow.id %></td>
          <td><%= check_box_tag "reviews[]", follow.id %></td>>
          <td><%= link_to 'Destroy', @user.follow, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
    <% end %>
  </tbody>
</table>

<%= submit_tag "Save preferences" %>
<% end %>
