
<p>
  <strong>User:</strong>
  <%= @follow.user_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @follow.title %>
</p>

<p>
  <strong>Ratings:</strong>
  <%= @follow.ratings %>
</p>

<p>
  <strong>Reviews:</strong>
  <%= @follow.reviews %>
</p>

<p>
  <strong>Book:</strong>
  <%= @follow.book_id %>
</p>

<%# link_to 'Edit', edit_follow_path(@follow) %> |
<%# link_to 'Back', follows_path %>
