<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Bookbee", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "View library", books_path %></li>
          <% if signed_in? %>
            <!-- Books -->
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Books <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Add a book", new_book_path %></li>
                <li><%= link_to "Your bookshelf", user_books_path %></li>
              </ul>
            </li>
            <!-- Admin -->
            <% if admin?(current_user) %>
              <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Approve books", pending_path %></li>
                <li><%= link_to "All users", users_path %></li>
              </ul>
            </li>
            <% end %>
            <!-- Account -->
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Account <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Profile", current_user %></li>
                <li><%= link_to "Follow Preferences", email_preferences_path(:id => current_user.id) %></li>
                <li><%= link_to "Edit account", edit_user_path(current_user) %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to "Sign out", signout_path, method: "delete" %>
                </li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "Sign in", signin_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>